/* .navbar {
  background-color: rgb(42, 46, 55);
  color: #ffff;
}
.linkNavbar {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */
